<div class="sr-manager">
  <p-scrollPanel [style]="{height: '100%'}">
    <div class="tabMenu">
      <div class="tab-item" *ngFor="let item of tabitem">
        <a class="item-content" (click)="tabItemClick(item)">
          <span [ngStyle]="{color: item.item.ftcolor}">{{item.item.label}}</span>
          <span  [ngStyle]="{background: item.item.bgc}" class="line"></span>
        </a>
      </div>
    </div>
    <div class="sr-manager-body">
      <app-area-within *ngIf="simbol === 'within'"></app-area-within>
      <app-area-outside *ngIf="simbol === 'outside'"></app-area-outside>
    </div>
  </p-scrollPanel>
</div>

