.upload-image{
  .img-upload{
    display: flex;
    flex-direction: column;
    height: 80px;
    border: 2px dashed #5194FF;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #F3F8FF;
    position: relative;
    i{
      color: #C7DDFF;
      font-size: 30px;
      margin-bottom: 10px
    }
    span{
      color: #578EDF;
      font-size: 12px
    }
    input{
      height: 80px;
      width: 80px;
      position: absolute;
      opacity: 0;
    }
  }
  .show-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #aaa;
  }

  ::ng-deep  .ui-dialog .ui-dialog-titlebar{
    text-align: center;
    background: #F8F8F8;
    font-size: 16px;
    border: 0;
    color: #6F6F6F;
    border-bottom: 1px solid #CACED5;
    i {
      color: #6F6F6F;
    }
  }
  ::ng-deep .ui-dialog .ui-dialog-content{
    border: 0;
  }
  ::ng-deep  .ui-dialog .ui-dialog-footer{
    text-align: center;
    border: 0;
    padding: 20px 0;
    button:first-child{
      //padding: 4px 6px;
      border-radius: 20px;
      background: #fff;
      color: #575C65;
      border: 1px solid #575C65;
    }
    button:last-child{
      //padding: 4px 6px;
      background: #3B86FF;
      border-radius: 20px;
    }
  }
  .dialog-btn{
    width: 6vw;
    //text-align: center;
    border-radius: 5px;
    height: 4vh;
    outline: none;
    color: #fff;
    border: 0;
    margin-left: 2vw;
  }
  ::ng-deep .ui-dialog-content{
    overflow: visible ;
  }
}
