<div class="personnel-account">
   <div class="personnel-account-header">
     <div class="personnel-account-search">
       <div class="ui-inputgroup" >
         <input type="text" pInputText  placeholder="搜索"/>
         <button pButton type="button" icon="pi pi-search" class="ui-button-warn" (click)="searchDataClick()"></button>
       </div>
     </div>
     <div class="personnel-account-button">
       <button pButton type="button" label="添加人员" class="ui-button-rounded"></button>
       <button pButton type="button" label="批量删除" class="ui-button-rounded"></button>
     </div>
   </div>
   <div class="personnel-account-table">
     <app-check-table-btn [select]="personnelSelect"   (selectData)="selectData($event)" [option]="optionTable" (detail)="DetailClick($event)"></app-check-table-btn>
   </div>
  <div class="personnel-account-pagination">
    <app-pagination [option]="pageOption" (clickEvent)="clickEvent($event)"></app-pagination>
  </div>
</div>
