.main{
  border-radius: 2px;
  width: auto;
  height: 91vh;
  margin: 7.6vh 1vw 0.6vh 1vw;
  .top{
    display: flex;
    height: 45%;
    justify-content: space-around;
    .items{
      width: 30%;
      border-radius: 3%;
      background: #fff;
      position: relative;
      .title{
        font-size: 18px;
        color: #333333;
        font-weight: 700;
        position: absolute;
        left: 5%;
        z-index: 999;
      }
      .number{
        position: absolute;
        right: 5%;
        top: 29%;
        z-index: 999;
        border-radius: 15px;
        display: inline-block;
        border: 1px solid #F0F0F0;
        font-size: 18px;
        color: #333333;
        font-weight: 700;
      }
    }
  }
  .bottom{
    display: flex;
    height: 45%;
    justify-content: space-around;
    .left{
      width: 63.5%;
      border-radius: 3%;
      background: #fff;
      position: relative;
    }
    .right {
      width: 30%;
      border-radius: 3%;
      background: #fff;
      position: relative;
      .header{
        display: flex;
        justify-content: space-between;
        .title{
          font-size: 18px;
          color: #333333;
          font-weight: 700;
        }
        .sub-title{
          font-size: 12px;
          border-radius: 15px;
          display: inline-block;
          border: 1px solid #F0F0F0;
          color: #737373;
          cursor: pointer;
        }
      }
      .list{
        .list-item{
          display: flex;
          border: 1px solid #DADADA;
          border-radius: 5px;
          .left{
            flex: 2;
            background-color: #226AD5;
            color: #fff;
            font-size: 24px;
            border-radius: 5px;
          }
          .right{
            flex: 7;
            p{
              font-weight: 600;
              font-size: 16px;
              color: #4D4F5C;
            }
          }
        }
      }
    }
  }
  .dialog{
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right {
      text-align: right;
      color: #4D4F5C;
    }
    .dialog-input {
      line-height: 3vh;
      text-align: left;
      color: #4D4F5C;
      ::ng-deep .ui-chkbox .ui-chkbox-box{
        //color: #A498A0;
        border: 1px solid #C8DDFF;
      }
      ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active{
        color: #007ad9;
        background: #fff;
      }
      input, ::ng-deep .ui-inputtext{
        width: 100%;
        border: 1px solid #D2D6DB;
      }
      /deep/ .ui-widget::placeholder{
        color: #A498A0;
      }
      ::ng-deep .ui-dropdown{
        width: 100%;
        border: 1px solid #EDEDED;
        line-height: 2.4vh;
        .ui-dropdown-trigger-icon{
          color: #AAAAAA;
        }
        .ui-dropdown-label{
          color: #A498A0;
        }
        .ui-inputtext{
          width: 100%;
          border: 0;
        }
      }
    }
    .dialog-btn{
      width: 6vw;
      //text-align: center;
      border-radius: 5px;
      height: 4vh;
      outline: none;
      color: #fff;
      border: 0;
      margin-left: 2vw;
    }
  }
}
