<div class="st-demand">
   <div class="tabMenu">
      <div class="tab-item" *ngFor="let item of tabitem">
        <a class="item-content" (click)="tabItemClick(item)">
          <span [ngStyle]="{color: item.item.ftcolor}">{{item.item.label}}</span>
          <span  [ngStyle]="{background: item.item.bgc}" class="line"></span>
        </a>
      </div>
   </div>
  <div class="st-demand-body">
    <app-demand-review *ngIf="simbol === 'review'"></app-demand-review>
    <app-demand-report *ngIf="simbol === 'report'"></app-demand-report>
    <app-demand-record *ngIf="simbol === 'record'"></app-demand-record>
    <app-demand-principal *ngIf="simbol === 'principal'"></app-demand-principal>
  </div>
</div>
