<div class="plain-list pl-3 pr-3">
  <!-- 新增 -->
  <div class="title">
    <div class="btn" [routerLink]="['../edit']">
      <span>+</span>
      <span>新增教育培训计划</span>
    </div>
  </div>
  <div class="tab">
    <p-tabView>
      <!-- 待处理 -->
      <p-tabPanel [header]="'待处理培训计划'">
        <div style="height: 76vh">
          <app-pt-unprocessed></app-pt-unprocessed>
        </div>
      </p-tabPanel>
      <!-- 已处理 -->
      <p-tabPanel header="已处理培训计划">
        <div style="height: 76vh">
          <app-pt-processed></app-pt-processed>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
