.st-learn-list {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 1vh 2vw;
  .tab {
    height: 6vh;
    border-bottom: 2px solid #EDEDED;
    line-height: 6vh;
    .tab-list {
      cursor: pointer;
      display: inline-block;
      margin-right: 4vw;
      .item-content {
        display: flex;
        flex-direction: column;
        text-align: left;
        span:first-child {
          font-size: 16px;
          color: #D4D4D4;
        }
        span:last-child{
          margin-top: -2px;
          display: inline-block;
          width: 100%;
          height: 2px;
          background: #EDEDED;
        }
      }
    }
  }
  .st-learn-content{
    margin-top: 1vh;
  }

  ::ng-deep .ui-table .ui-table-thead>tr >th{
    border: 0;

  }
  ::ng-deep .ui-table .ui-table-tbody>tr >td{
    border-bottom: 1px solid #EDEDED;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  ::ng-deep .ui-tabview .ui-tabview-panels{
    border: 0;
    padding: 0;
  }
  ::ng-deep .ui-tabview.ui-tabview-top .ui-state-default:active{
    border: 0;
  }
}
