.pl-train{
  .header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F5F5F8;
    p{
      padding: 10px 0;
      color: #BBBBBB;
      cursor: pointer;
      position: relative;
    }
    p.active{
      color: #3B86FF;
    }
    p.active:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 2px solid #3B86FF;
    }
  }
  .tab{
    /deep/ .ui-tabview-nav{
      display: none;
    }
    /deep/ .ui-tabview-panels{
      border: none;
    }
    .setting{
      .content{
        height: 58vh;
        border-color: #F0F0F0;
        border-style: solid;
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        .list{
          display: flex;
          border-bottom: 1px solid #FAFAFB;
          .left{
            flex: 6;
          }
          .right{
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
    .train{
      .files{
        width: 100%;
        .list{
          color: #333333;
          display: inline-block;
          width: 100%;
          border: 1px solid #EBECEF;
        }
      }
      .video{
        video{
          width: 20vw;
        }
      }
      .footer{
        width: 100%;
        text-align: center;
      }
    }
  }
}
