<div class="trouble-notice">
  <div class="trouble-notice-title">
    <span class="h5" (click)="backPreviouClick()">隐患处理</span>
    <i class="fa fa-angle-right h4 pl-2 pr-2"></i>
    <span class="h5" (click)="backPreviouClick()">隐患处理详情</span>
    <i class="fa fa-angle-right h4 pl-2 pr-2"></i>
    <span class="h5" (click)="backPreviouClick()">通知整改</span>
  </div>
  <div class="trouble-notice-body">
    <form [formGroup]="addNotice">
      <div class="ui-g ui-md ui-fluid">
        <div class="ui-md-12 ui-g-12"  style="line-height: 4vh">
          <div class="ui-g-1 ui-md-1 right">
            <label><span style="color: #FF8A9A">*</span>整改负责人:</label>
          </div>
          <div class="ui-g-4 ui-md-4 dialog-input left">
            <p-dropdown dropdownIcon="pi pi-caret-down" placeholder="请选择整改负责人" [options]="hidCorrectorOption" formControlName="correctorId"></p-dropdown>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12"  style="line-height: 4vh">
          <div class="ui-g-1 ui-md-1 right">
            <label><span style="color: #FF8A9A">*</span>整改截止时间:</label>
          </div>
          <div class="ui-g-4 ui-md-4 dialog-input">
            <p-calendar [style]="{width: '100%'}" placeholder="请选择整改截止时间" [monthNavigator]="true" [yearNavigator]="true"
                        dateFormat="yy-mm-dd" yearRange="1700:2200" [locale]="esDate" formControlName="specifiedRectificationTime" [disabled]="time"></p-calendar>
          </div>
        </div>
        <div class="ui-md-12 ui-g-12">
          <div class="ui-g-1 ui-md-1 right">
            <label><span style="color: #FF8A9A">*</span>整改意见:</label>
          </div>
          <div class="ui-g-10 ui-md-10">
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" style="border: 1px solid #D2D6DB" formControlName="rectificationOpinions"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="trouble-notice-fotter">
    <button pButton type="button" label="下发通知书" class="ui-button-rounded" (click)="IssuedNoticeClick()"></button>
  </div>
</div>
