.trouble-notice {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 1vh 2vw;
  .trouble-notice-title{
    padding: 2vh 0;
    border-bottom: 2px solid #EDEDED;
    span, i{
      color: #85898F;
    }
  }
  .trouble-notice-body{
    margin: 2vh 0;
    .right {
      text-align: right;
      color: #787A84;
      font-size: 13px;
    }
    .left {
      text-align: left;
      color: #4D4F5C;
    }
  }
  .trouble-notice-fotter{
    margin-top: 1vh;
    text-align: center;
    margin-bottom: 4vh;
    button{
      //width: 6vw;
      margin-left: 2vw;
      background: #3B86FF;
    }
  }

  .dialog-input {
    line-height: 3vh;
    text-align: left;
    color: #4D4F5C;
    //::ng-deep .ui-inputtextarea{
    //  width: 100%;
    //
    //}
    ::ng-deep .ui-chkbox .ui-chkbox-box{
      //color: #A498A0;
      border: 1px solid #C8DDFF;
    }
    ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active{
      color: #007ad9;
      background: #fff;
    }
    //::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    //  background-color: #FFFFFF;
    //  color: #007ad9;
    //}
    input, ::ng-deep .ui-inputtext{
      width: 100%;
      border: 1px solid #D2D6DB;
    }
    /deep/ .ui-widget::placeholder{
      color: #A498A0;
    }
    ::ng-deep .ui-dropdown{
      width: 100%;
      border: 1px solid #EDEDED;
      line-height: 2.4vh;
      .ui-dropdown-trigger-icon{
        color: #AAAAAA;
      }
      .ui-dropdown-label{
        color: #A498A0;
      }
      .ui-inputtext{
        width: 100%;
        border: 0;
      }
    }
  }
}
