<div class="login">
  <div class="left-img">
    <img src="assets/image/ic_login_logo.png" alt="">
  </div>
  <div class="right">
    <div class="right-form">
      <div class="form-title">
          <h1>中国铝业贵州分公司</h1>
          <h1>安全生产信息化系统</h1>
          <div class="form-small-title">
            <span>您好！请登录</span>
          </div>
        </div>
      <div class="form-input">
        <div class="form-user">
          <i class="iconfont iconbaseline-perm_identity-24px"></i>
          <input type="text" placeholder="账户" [(ngModel)]="username">
        </div>
        <div class="form-pass">
          <i class="iconfont iconoutline-lock-24px"></i>
          <input type="password" placeholder="密码" [(ngModel)]="password">
        </div>
        <div class="form-checks">
          <div>
<!--            <p-checkbox name="groupname" label="记住我">记住我</p-checkbox>-->
          </div>
          <div>
<!--            <span>忘记密码</span>-->
          </div>
        </div>
      </div>
      <div class="form-btn">
        <button (click)="loginClick()">登   录</button>
      </div>
    </div>
    <div class="right-bottom">
      系统技术支持——红鸟智能
    </div>
  </div>
  <p-toast position="top-center" key="toast"></p-toast>
  <p-confirmDialog header="Confirmation" acceptLabel="取消" rejectLabel="确认选择" acceptIcon="" rejectIcon=""></p-confirmDialog>
</div>
