<div class="pl-input-list">
  <div class="ui-g ui-fluid" style="width: 50%">
    <!--受培训单位-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>受培训单位：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input inputButton">
        <button pButton type="button" label="查看已选择单位人员" class="ui-button-rounded"></button>
      </div>
    </div>
    <!--日常培训类别-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>日常培训类别：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <p-dropdown [options]="cars" [(ngModel)]="selectedCar1" optionLabel="name" dropdownIcon="fa fa-caret-down"></p-dropdown>
      </div>
    </div>
    <!--培训内容-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>培训内容：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <input type="text" pInputText placeholder="请填写培训内容">
      </div>
    </div>
    <!--培训时长-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>培训时长：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <input type="number" pInputText placeholder="请填写培训时长">
      </div>
    </div>
    <!--组织培训单位-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>组织培训单位：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <p-dropdown [options]="cars" [(ngModel)]="selectedCar1" optionLabel="name" dropdownIcon="fa fa-caret-down"></p-dropdown>
      </div>
    </div>
    <!--开始时间-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>开始时间：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <p-calendar
          #calendar
          placeholder="点击选择时间......"
          [locale]="es" [(ngModel)]="date7"
          dateFormat="yy-mm-dd"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [showTime]="true"
          hourFormat="24"
          yearRange="2017:2030">
          <p-footer>
            <button pButton type="button" label="确定" class="ui-button-warning" (click)="calendar.hideOverlay()"></button>
          </p-footer>
        </p-calendar>
      </div>
    </div>
    <!--结束时间-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>结束时间：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <p-calendar
          #calendar
          placeholder="点击选择时间......"
          [locale]="es" [(ngModel)]="date7"
          dateFormat="yy-mm-dd"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [showTime]="true"
          hourFormat="24"
          yearRange="2017:2030">
          <p-footer>
            <button pButton type="button" label="确定" class="ui-button-warning" (click)="calendar.hideOverlay()"></button>
          </p-footer>
        </p-calendar>
      </div>
    </div>
  </div>
</div>
