<div class="aptitude-certificate-card">
  <div class="aptitude-certificate-card-table">
    <p-card>
      <p-scrollPanel  [style]="{height: '76vh', width: '100%'}" styleClass="custombar">
      <div class="ui-g ui-md ui-fluid">
        <div class="ui-g-12 ui-md-12" *ngFor="let item of AptitudeCertificateTitleList">
          <div class="ui-g-4 ui-md-4">
            <span>{{item.label}}</span>
          </div>
          <div class="ui-g-8 ui-md-8">
            <span>{{item.value}}</span>
          </div>
        </div>
      </div>
      </p-scrollPanel>
    </p-card>
  </div>
</div>
