.sidebar {
  color: #fff;
  position: absolute;
  z-index: 1000;
  top: 6vh;
  left: 0;
  height: 94%;
  //box-shadow: 5px 0 10px -5px #E5E5E5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  display: flex;
  .first-bar {
    width: 10vw;
    height: 100%;
    background-color: var(--header-bgc);
    border-right: solid 1px var(--header-bgc);
    li {
      list-style: none;
      a {
        padding:20px 0 20px 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
      }
      i {
        //font-size: 16px;
        flex: 2;
      }
      div {
        flex: 8;
        span{
          width: 6vw;
          display: inline-block;
          text-align: center;
        }
        i {
          float: right;
          margin-right: 10px;
          margin-top: 5px;
          color: #fff
        }
      }
    }
  }
  .sec-bar {
    width: 8vw;
    height: 100%;
    background: #fff;
    padding-top: 64px;
    text-align: center;
    li {
      list-style: none;
      padding: 10px 0 10px 14px;
      list-style: none;
      .sec-item {
        display: inline-block;
        padding: 10px 7px;
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        span {
          font-size: 14px;
          font-weight: bold;
          font-family: 微软雅黑;
        }
      }
      :active{
        border: 0;
      }
    }
  }
  .router-style{
    background: #D1E0F7;
    color: #4F88DE;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    .first-bar {
      width: 10vw;
      height: 100%;
      background-color: var(--header-bgc);
      border-right: solid 1px var(--header-bgc);
      li {
        div {
          span {
            width: 6vw;
            display: none;
            text-align: center;
          }
        }
      }
    }
    .sec-bar{
      display: none;
    }
  }
}
@media screen and (max-width: 650px){
  .sidebar{
    .first-bar{
      li {
        div{
          i{
            display: none;
          }
        }

      }
    }

  }
}
