<div class="header-sidebar">
  <div class="user pt-4 pb-4 ac-border">
    <div class="avatar">
      <img src="../../../../assets/image/ic_header.jpeg" alt="头像">
    </div>
    <div class="usrinfo pl-3">
      <p class="h5">王建国</p>
      <p class="mt-2">
        <i class="fa fa-user-md text-primary" aria-hidden="true"></i>
        <span class="ml-1 mr-2">班组长</span>
        <span class="text-gray">10546554</span>
      </p>
    </div>
  </div>
  <div class="intro p-3 ac-border">
    <div class="row">
      <p class="pb-2">
        <span class="text-gray">单位</span>
        <span class="ml-2">xx单位</span>
      </p>
      <p class="pb-2">
        <span class="text-gray">厂矿</span>
        <span class="ml-2">xx厂矿</span>
      </p>
    </div>
    <div class="row">
      <p class="pb-2">
        <span class="text-gray">车间</span>
        <span class="ml-2">xx车间</span>
      </p>
      <p class="pb-2">
        <span class="text-gray">班主</span>
        <span class="ml-2">xx班主</span>
      </p>
    </div>
  </div>
  <div class="menu">
    <div class="row ac-border p-3">
      <span class="text-gray">入厂时间</span>
      <span class="ml-2">2018.06.03</span>
    </div>
    <div class="row ac-border p-3">
      <span class="text-gray">所在岗位</span>
      <span class="ml-2">xx岗位</span>
    </div>
    <div class="row ac-border p-3">
      <span class="text-gray">岗位性质</span>
      <span class="ml-2">xxxxxx</span>
    </div>
    <div class="row ac-border p-3">
      <span class="text-gray">我的岗位风险</span>
      <i class="fa fa-chevron-right ml-2" aria-hidden="true" style="cursor: pointer"></i>
    </div>
    <div class="row ac-border p-3">
      <span class="text-gray">工种</span>
      <span class="ml-2">xx工种</span>
    </div>
  </div>
  <div class="button p-3 text-center" (click)="loginOut()">
    <button pButton class="ui-button-rounded" label="退出账号"></button>
  </div>
</div>
