<div class="header-sidebar">
  <div class="user pt-4 pb-4 ac-border">
    <div class="avatar">
      <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 52px;color: #226AD5"></i>
    </div>
    <div class="usrinfo pl-3">
      <p class="h5">{{hdPersonInfo.name}}</p>
      <p class="mt-2">
        <i class="fa fa-user-md text-primary" aria-hidden="true"></i>
        <span class="ml-1 mr-2">{{hdPersonInfo.position}}</span>
        <span class="text-gray">{{hdPersonInfo.employeeNumber}}</span>
      </p>
    </div>
  </div>
  <div class="intro p-3 ac-border">
    <div class="row">
      <p class="pb-2">
        <span class="text-gray">工种</span>
        <span class="ml-2">{{hdPersonInfo.workType}}</span>
      </p>
      <p class="pb-2">
        <span class="text-gray">学历</span>
        <span class="ml-2">{{hdPersonInfo.degreeOfEducation}}</span>
      </p>
    </div>
    <div class="row">
      <p class="pb-2">
        <span class="text-gray">民族</span>
        <span class="ml-2">{{hdPersonInfo.nation}}</span>
      </p>
      <p class="pb-2">
        <span class="text-gray">生日</span>
        <span class="ml-2">{{hdPersonInfo.dateOfBirth}}</span>
      </p>
    </div>
  </div>
  <div class="menu">
    <div class="row ac-border p-3">
      <span class="text-gray">厂矿名称</span>
      <span class="ml-2">{{hdPersonInfo.factoryName}}</span>
    </div>
    <div class="row ac-border p-3">
      <span class="text-gray">车间名称</span>
      <span class="ml-2">{{hdPersonInfo.workshopName}}</span>
    </div>
    <div class="row ac-border p-3">
      <span class="text-gray">班组名称</span>
      <span class="ml-2">{{hdPersonInfo.teamName}}</span>
    </div>
    <div class="row ac-border p-3">
      <span class="text-gray">入厂时间</span>
      <span class="ml-2">2018.06.03</span>
    </div>
    <div class="row ac-border p-3" style="cursor: pointer" (click)="hdSideBarShow = true">
      <span class="text-gray">我的岗位风险</span>
      <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i>
    </div>
    <div class="row ac-border p-3">
      <span class="text-gray">岗位性质</span>
      <span class="ml-2">{{hdPersonInfo.jobNature}}</span>
    </div>
    <div class="row ac-border p-3" style="cursor: pointer" (click)="hsUpdatePasswordModal = true">
      <span class="text-gray">密码修改</span>
      <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i>
    </div>
  </div>
  <div class="button p-3 text-center" (click)="loginOut()">
    <button pButton class="ui-button-rounded" label="退出账号"></button>
  </div>
  <div class="job">
    <p-sidebar
      [modal]="true"
      [blockScroll]="true"
      [(visible)]="hdSideBarShow"
      [showCloseIcon]="false"
      position="right">
      <div class="job-risk">
        <header class="header h5 text-center">
          <span>我的岗位风险</span>
        </header>
        <div class="list pl-2 pr-2">
          <p
            *ngFor="let item of hdPersonInfo?.harmNameDTOS;let i = index"
            class="text-secondary pt-2 pb-2"
            style="border-bottom: 1px solid #DEDEDE;font-size: 10px"
          >
            {{(i + 1) + '：' + item.harmName}}
          </p>
        </div>
        <div class="button p-3 text-center" (click)="hdSideBarShow = false">
          <button pButton class="ui-button-rounded" label="返回个人信息"></button>
        </div>
      </div>
    </p-sidebar>
  </div>
  <div class="modal">
    <p-dialog [modal]="false" [(visible)]="hsUpdatePasswordModal">
      <p-header>
        <span>密码修改</span>
      </p-header>
      <div>
        <div class="ui-g">
          <div class="ui-md-12 ui-lg-12">
            <input type="password" pInputText placeholder="请输入新密码" style="width: 100%">
          </div>
          <div class="ui-md-12 ui-lg-12">
            <input type="password" pInputText placeholder="再次请输入新密码" style="width: 100%">
          </div>
        </div>
      </div>
      <p-footer>
        <button pButton class="ui-button-pink" label="取消修改" (click)="hsUpdatePasswordModal = false"></button>
        <button pButton label="确认修改" (click)="hsUpdatePasswordModal = false"></button>
      </p-footer>
    </p-dialog>
  </div>
</div>

