.gi-bulletin-board {
  background: #fff;
  width: 100%;
  height: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      span {
        font-size: 24px;
        color: #ABABAB;
      }
      .search {
        position: relative;

      }
    }
    .gi-bulletin-board-search{
      position: relative;
      .ui-inputgroup {
        display: inline-block;
        margin-left: 1vw;
        input{
          border-radius: 20px 0 0 20px;
          outline: none;
        }
        button{
          //margin-top: 1px;
          border-radius: 0 20px 20px 0;
          border: 0;
        }
      }
    }
  }
  .content {
    width: 100%;
    padding: 0 1vw 1vh 1vw;
    height: 90%;
    .list {
      box-shadow: 0 0 8px #DEDEDE;
      border-radius: 10px;
      z-index: -1;
      .gi-bulletin-board-item {
        height: 12vh;
        display: flex;
        padding: 0 1vw;
        background: #fff;
        cursor: pointer;
        .gi-bulletin-board-item-title {
          flex: 4;
          display: flex;
          align-items: center;
          color: #646571;
          border-bottom: 1px solid #EAEAEA;
          h2 {
            flex: 1;
            text-align: center;
            margin-bottom: 30px;
          }
          .gi-bulletin-board-content {
            flex: 14;
            p:first-child {
              font-size: 26px;
              font-weight: bold;
            }
            p:last-child{
              margin-top: 1.6vh;
              font-size: 12px;
              color: #8E97A7;
            }

          }
        }
        .gi-bulletin-board-btn {
          //width: 4vw;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #EAEAEA;
          .edit-btn {
            text-align: center;
            width: 4vw;
            height: 3vh;
            margin-bottom: 2.8vh;
            border-radius: 20px;
            background: #66A0FF;
            line-height: 3vh;
            margin-right: 2vw;
            font-size: 14px;
            color: #E4EEFF;
          }
        }
      }
      ::ng-deep .ui-widget {
        border-radius: 20px;
        color: #8D8E96;
        height: 3vh;
        border: 1px solid #F2F2F2;
        background: #F8F8F8;
      }
      //隐藏滚动条
      ::ng-deep .ui-scrollpanel-bar {
        //background-color: rgba(0, 0, 0, 0);
        //transition: background-color .3s;
        display: none;
      }
      ::ng-deep .ui-scrollpanel-content{
        //padding-right: 0;
        padding: 0;
      }
    }
  }
  .pagination{
    position: absolute;
    bottom: 4vh;
    right: 4vw;
  }
  ::ng-deep .ui-inputgroup .ui-widget {
    color: #8D8E96;
    font-size: 14px;
    //height: 3vh;
    height: 32px;
    border: 1px solid #F0F0F0;
    //border-right: 0;
    border-left: 0;
    background: #F8F8F8;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right {
    text-align: right;
    color: #4D4F5C;
  }
  .dialog-input {
    line-height: 3vh;
    text-align: left;
    color: #4D4F5C;
    ::ng-deep .ui-chkbox .ui-chkbox-box{
      //color: #A498A0;
      border: 1px solid #C8DDFF;
    }
    ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active{
      color: #007ad9;
      background: #fff;
    }
    input, ::ng-deep .ui-inputtext{
      width: 100%;
      border: 1px solid #D2D6DB;
    }
    /deep/ .ui-widget::placeholder{
      color: #A498A0;
    }
    ::ng-deep .ui-dropdown{
      width: 100%;
      border: 1px solid #EDEDED;
      line-height: 2.4vh;
      .ui-dropdown-trigger-icon{
        color: #AAAAAA;
      }
      .ui-dropdown-label{
        color: #A498A0;
      }
      .ui-inputtext{
        width: 100%;
        border: 0;
      }
    }
  }
  .dialog-btn{
    width: 6vw;
    //text-align: center;
    border-radius: 5px;
    height: 4vh;
    outline: none;
    color: #fff;
    border: 0;
    margin-left: 2vw;
  }
  ::ng-deep  .ui-dialog .ui-dialog-footer{
    text-align: center;
    border: 0;
    padding: 20px 0;
    button:first-child{
      //padding: 4px 6px;
      border-radius: 20px;
      background: #fff;
      color: #575C65;
      border: 1px solid #575C65;
    }
    //button:last-child{
    //  //padding: 4px 6px;
    //  background: #3B86FF;
    //  border-radius: 20px;
    //}
  }
}
