<div class="demand-principal">
  <div class="demand-principal-title">
    <span>安全管理负责/管理人员复审名单</span>
    <button pButton type="button" label="导出" class="ui-button-rounded" icon="pi pi-external-link"></button>
  </div>
  <div class="demand-principal-search">
    <div>
      <div class="ui-inputgroup">
        <input type="text" pInputText  placeholder="搜索"/>
      </div>
      <i class="fa fa-search" style="position: absolute;margin-top: -2.5vh;margin-left: 7.5vw;color: #ABABAB;"></i>
    </div>
    <div class="review-btn">
      <button pButton type="button" label="批量审核" class="ui-button-rounded"></button>
    </div>
  </div>
  <div class="demand-principal-table">
    <app-check-table-btn [select]="principalSelect"   (selectData)="selectData($event)" [option]="optionTable" (detail)="DetailClick($event)"></app-check-table-btn>
  </div>
</div>
