<div class="ph-manager">
  <p-tabView [activeIndex]="index">
    <p-tabPanel header="职业卫生“三同时”台账">
      <app-pr-hygiene></app-pr-hygiene>
    </p-tabPanel>
    <p-tabPanel header="职业病防护设施">
      <app-pr-disease></app-pr-disease>
<!--      <app-st-completed-exam></app-st-completed-exam>-->
    </p-tabPanel>
    <p-tabPanel header="职业病防护设施运行状况">
      <!--      <app-st-completed-exam></app-st-completed-exam>-->
    </p-tabPanel>
    <p-tabPanel header="职业病防护用户">
      <!--      <app-st-completed-exam></app-st-completed-exam>-->
    </p-tabPanel>
    <p-tabPanel header="接触职业病危害因素汇总表">
      <!--      <app-st-completed-exam></app-st-completed-exam>-->
    </p-tabPanel>
    <p-tabPanel header="职业健康检查登记表">
      <!--      <app-st-completed-exam></app-st-completed-exam>-->
    </p-tabPanel>
    <p-tabPanel header="接触职业病危害因素人员管理情况汇总表">
      <!--      <app-st-completed-exam></app-st-completed-exam>-->
    </p-tabPanel>
  </p-tabView>
</div>

