<div class="pl-input-list">
  <div class="ui-g ui-fluid" style="width: 50%;position: relative">
    <!--受培训单位-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>受培训单位人员：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input inputButton">
        <button
          [pTooltip]="plInputTableSelectName"
          pButton type="button" [label]="plInputTableSelectName"
          class="ui-button-rounded"
          (click)="plInputOperate(plInputOperateFlag = 'strain')">
        </button>
      </div>
    </div>
    <!--日常培训类别-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>日常培训类别：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <p-dropdown
          [placeholder]="plInputDropdownPlaceholder"
          [options]="plInputDropdownOptions" [(ngModel)]="plInputDropdownSelected"
          optionLabel="trainingTypeName" dropdownIcon="fa fa-caret-down">
        </p-dropdown>
      </div>
    </div>
    <!--培训内容-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>培训内容：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <input
          type="text" pInputText placeholder="请填写培训内容"
          name="title" #title="ngModel"
          required [(ngModel)]="plInputOperateUpdateField.trainingContent">
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger mt-2">
          <div *ngIf="title.errors.required">
            请填写培训内容必须填写
          </div>
        </div>
      </div>
    </div>
    <!--培训时长-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>培训时长：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <input
          type="number" pInputText name="duration"
          #duration="ngModel" required placeholder="请填写培训时长"
          [(ngModel)]="plInputOperateUpdateField.trainingDuration">
        <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="text-danger mt-2">
          <div *ngIf="duration.errors.required">
            培训时长必须填写
          </div>
        </div>
      </div>
    </div>
    <!--组织培训单位-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>组织培训单位：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input orgButton">
        <button
          pButton type="button" [label]="plInputOrgTreeSelect.label?plInputOrgTreeSelect.label:plInputOrgTreeSelectLabel"
          class="ui-button-white text-left" (click)="plInputOperate(plInputOperateFlag = 'tree')">
        </button>
      </div>
    </div>
    <!--开始时间-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>开始时间：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <p-calendar
          #calendarStart
          placeholder="点击选择时间......"
          [locale]="plInputEs" [(ngModel)]="plInputOperateUpdateField.startTime"
          dateFormat="yy-mm-dd"
          dataType="string"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [showTime]="true"
          yearRange="2017:2030">
          <p-footer>
            <button pButton type="button" label="确定" class="ui-button-warning" (click)="calendarStart.hideOverlay()"></button>
          </p-footer>
        </p-calendar>
      </div>
    </div>
    <!--结束时间-->
    <div class="ui-g-12 ui-md-12">
      <label class="ui-g-3 ui-md-3 label">
        <span>结束时间：</span>
      </label>
      <div class="ui-g-9 ui-md-9 input">
        <p-calendar
          #calendarEnd
          placeholder="点击选择时间......"
          [locale]="plInputEs" [(ngModel)]="plInputOperateUpdateField.endTime"
          dateFormat="yy-mm-dd"
          dataType="string"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [showTime]="true"
          hourFormat="24"
          yearRange="2017:2030">
          <p-footer>
            <button pButton type="button" label="确定" class="ui-button-warning" (click)="calendarEnd.hideOverlay()"></button>
          </p-footer>
        </p-calendar>
      </div>
    </div>
    <!--提交-->
    <div class="ui-g-12 ui-md-12 text-center">
      <button pButton label="下一步" style="width: auto" (click)="plInputOperate('add')"></button>
    </div>
  </div>
  <!--弹窗-->
  <p-dialog
    [(visible)]="plInputOperateModal" [blockScroll]="true"
    [contentStyle]="{width: plInputOperateFlag === 'strain'?'50vw':'30vw',height: '30vh'}">
    <p-header>{{plInputOperateFlag === 'strain'?'请选择受训单位人员':'请选择组织培训单位'}}</p-header>
    <p-scrollPanel [style]="{width: '100%', height: '250px'}" *ngIf="plInputOperateFlag === 'tree'">
      <p-tree
        [style]="{width: '100%'}"
        [value]="plInputOrgTree"
        [(selection)]="plInputOrgTreeSelect"
        selectionMode="single">
      </p-tree>
    </p-scrollPanel>
    <p-table
      *ngIf="plInputOperateFlag === 'strain'"
      [(selection)]="plInputTableSelect"
      [value]="plInputTableData" [columns]="plInputTableHeader"
      [scrollable]="true" scrollHeight="50vh"
      dataKey="id"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <!--<ng-template pTemplate="caption"></ng-template>-->
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td style="width: 3em">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns" style="overflow: hidden;text-overflow: ellipsis;" [pTooltip]="rowData[col.field]">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <app-pagination [option]="plInputPageOption" (clickEvent)="plInputPageEvent($event)"></app-pagination>
      </ng-template>
    </p-table>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="plInputOperate('select')" label="确定"></button>
    </p-footer>
  </p-dialog>
</div>
