<div class="plain-edit">
  <!--导航定位-->
  <div class="location text-gray pt-4">
    <span class="h4">待处理培训计划</span>
    <i class="fa fa-angle-right h4 pl-2 pr-2"></i>
    <span class="h5">xq001号培训需求</span>
  </div>
  <!--计步器-->
  <div class="steps pt-3 pb-3">
    <div class="box">
      <p-steps [model]="items" [readonly]="false" [(activeIndex)]="activeIndex"></p-steps>
    </div>
  </div>
  <!--tab切换-->
  <div class="tab pt-3">
    <p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndex">
      <!--培训计划-->
      <p-tabPanel>
        <app-pl-input></app-pl-input>
      </p-tabPanel>
      <!--培训内容-->
      <p-tabPanel>
        <app-pl-train></app-pl-train>
      </p-tabPanel>
      <!--考试项目-->
      <p-tabPanel>
        <app-pl-exam></app-pl-exam>
      </p-tabPanel>
      <!--项目发布-->
      <p-tabPanel>
        <app-pl-release></app-pl-release>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

