<div class="st-plain">
<!--  <p-scrollPanel [style]="{width: '100%', height: '100%'}">-->
<!--  -->
<!--  </p-scrollPanel>-->
  <div class="st-plain-title">
    <div class="st-plain-btn">
<!--       <i class="fa fa-plus"></i>-->
      <span>+</span>
      <span>新增交规培训计划</span>
    </div>
  </div>
<!--  待处理-->
  <div class="st-plain-unprocessed">
     <div class="st-plain-unprocessed-title">
       <span>待处理培训计划（{{this.data.length}}）</span>
     </div>
    <div class="st-plain-unprocessed-table">
      <p-scrollPanel [style]="{width: '100%', height: '13vh'}">
        <app-bf-table-btn [select]="plainSelect"  [option]="optionTable" (detail)="DetailClick($event)"></app-bf-table-btn>
      </p-scrollPanel>
    </div>
    <div class="st-plain-unprocessed-line"></div>
  </div>
<!--  已处理-->
  <div class="st-plain-processed">
     <div class="st-plain-processed-title">
        <span>已处理培训计划</span>
     </div>
    <div class="st-plain-processed-search">
      <div class="ui-inputgroup">
        <input type="text" pInputText  placeholder="搜索"/>
      </div>
      <i class="fa fa-search" style="position: absolute;margin-top: -2.5vh;margin-left: 7.5vw;color: #ABABAB;"></i>
    </div>
    <div class="st-plain-processed-table">
      <app-bf-table-btn [select]="plainSelect"  [option]="optionTable" (detail)="DetailClick($event)"></app-bf-table-btn>
    </div>
  </div>
</div>
