<div class="st-learn-myplan">
  <div class=" ui-g-4 ui-md-4" *ngFor="let i of myPlanList">
    <div class="learn-item" (click)="myPlanItemClick(i)">
      <div class="header">
        <span><span class="title">{{i.trainingContent}}</span></span>
        <i class="fa fa-check-circle"></i>
      </div>
      <!--    <div class="content">-->
      <!--      <span>累计学习时长</span>-->
      <!--      <span>32/32</span>-->
      <!--    </div>-->
      <div class="content">
        <span>{{i.startTime}}</span>
        <span>{{i.endTime}}</span>
      </div>
    </div>
<!--    <div class="progressBar">-->
<!--      <p-progressBar [value]="50" [style]="{'height': '10px'}" [showValue]="false"></p-progressBar>-->
<!--    </div>-->
  </div>
  <div class="learn-pagination">
    <app-pagination (clickEvent)="clickEvent($event)" [option]="pageOption"></app-pagination>
  </div>
</div>
