.shoot-rectify{
  margin: 0 2vw;
  //margin-right: 4vw;
  //background: #ee9900;
  height: 100%;
  .rectify-body{
    .right {
      text-align: right;
      color: #787A84;
      font-size: 14px;
    }

    .left {
      text-align: left;
      color: #4D4F5C;
    }

  }
  .rectify-fotter{
    //width: 100%;
    margin-top: 1vh;
    text-align: center;
    margin-bottom: 2vh;
    button{
      width: 6vw;
      margin-left: 2vw;
      background: #3B86FF;
    }
  }
  .dialog-input {
    line-height: 3vh;
    text-align: left;
    color: #4D4F5C;
    //::ng-deep .ui-inputtextarea{
    //  width: 100%;
    //
    //}
    input, ::ng-deep .ui-inputtext{
      width: 100%;
      border: 1px solid #D2D6DB;
    }
    /deep/ .ui-widget::placeholder{
      color: #A498A0;
    }
    ::ng-deep .ui-dropdown{
      width: 100%;
      border: 1px solid #EDEDED;
      line-height: 2.4vh;
      .ui-dropdown-trigger-icon{
        color: #AAAAAA;
      }
      .ui-dropdown-label{
        color: #A498A0;
      }
      .ui-inputtext{
        width: 100%;
        border: 0;
      }
    }
  }
}
