<div class="st-archives">
  <div class="tab">
    <div class="tab-list" *ngFor="let item of arcTabItem;let i=index">
      <a class="item-content" (click)="arcTabItemClick(i)">
        <span [ngStyle]="{color: item.item.ftcolor}">{{item.item.label}}</span>
        <span [ngStyle]="{background: item.item.bgc}" class="line"></span>
      </a>
    </div>
  </div>
  <div class="content">
  <p-tabView [activeIndex]="arcActiveIndex">
    <p-tabPanel>
      <div class="content-panel">

      </div>
    </p-tabPanel>
    <p-tabPanel>
      <div class="content-panel">
        <app-archives-special></app-archives-special>
      </div>
    </p-tabPanel>
  </p-tabView>
  </div>
</div>
