.level-education-card{
  .level-education-card-table{
    text-align: center;
    margin-top: 2vh;
    padding: 0 10vw;
    ::ng-deep .ui-card {
      height: 75vh;
    }
  }
  .level--education-card-pagination{
    position: absolute;
    bottom: 8vh;
    right: 4vw;
  }
  ::ng-deep .ui-table .ui-table-thead>tr >th{
    border: 0;

  }
  ::ng-deep .ui-table .ui-table-tbody>tr >td{
    border-bottom: 1px solid #EDEDED;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}
