.header {
  display: flex;
  background-color: #226AD5;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  .title {
    background-color: #1E5EBE;
    height: 100%;
    line-height: 6vh;

    span {
      font-weight: 600;
    }
  }
  .user-info {
    display: flex;
    align-items: center;
    height: 100%;
    .user, .pancel {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .pancel {
      .setting, .remind {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 100%;
      }
      .remind {
        border-right: 1px solid #FFFFFF;
        position: relative;
        .bage {
          position: absolute;
          top: -5px;
          right: 11px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #FFCB85;
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        height: 5vh;
        border-radius: 50%
      }
    }
  }
  .sidebar {
    position: absolute;
    /deep/ .ui-sidebar-right{
      top: 6vh;
      padding: 0;
    }
  }
}
