<div class="header">
  <div class="title pl-3 pr-3 text-light" (click)="logoClick()" [ngStyle]="{width: logoWidth + 'vw'}">
    <span class="h6" *ngIf="logoWidth !== 3">安全生产信息化系统</span>
    <i class="iconfont iconzu381" *ngIf="logoWidth === 3"></i>
  </div>
  <div class="user-info">
    <div class="pancel pt-3 pb-3 text-light">
      <span class="setting pl-3 pr-3">
        <i class="iconfont iconOutline setting" (click)="setClick()"></i>
      </span>
      <span (click)="showNoticeClick()" class="remind pl-3 pr-3">
        <i class="iconfont iconNotificationIcon"></i>
        <span class="bage"></span>
      </span>
    </div>
    <div class="user pl-3 pr-3 text-light" (click)="headerSideBarShow=true">
      <span class="mr-3">{{username}}</span>
      <img src="../../../assets/image/ic_header.jpeg" alt="">
    </div>
  </div>
  <div class="sidebar">
    <p-sidebar
      [modal]="true"
      [blockScroll]="true"
      [(visible)]="headerSideBarShow"
      [showCloseIcon]="false"
      position="right">
      <app-header-sidebar></app-header-sidebar>
    </p-sidebar>
  </div>
</div>
