.pr-hygiene {
  width: 100%;
  height: 100%;
  background: #fff;
  margin-top: 2vh;
  .pr-hygiene-title{
    height: 6vh;
    border-bottom: 2px solid #EDEDED;
    line-height: 6vh;
    span{
      font-size: 20px;
      color: #575C65;
    }
  }
  .pr-hygiene-title {
    height: 6vh;
    border-bottom: 2px solid #EDEDED;
    line-height: 6vh;
    span {
      font-size: 20px;
      color: #575C65;
    }
  }
  .pr-hygiene-header {
    margin-top: 1vh;
    height: 6vh;
    //background: #45b29d;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pr-hygiene-search {
      position: relative;

      .ui-inputgroup {
        display: inline-block;
        margin-left: 1vw;

        input {
          border-radius: 20px 0 0 20px;
          outline: none;
        }

        button {
          margin-top: 1px;
          border-radius: 0 20px 20px 0;
          border: 0;
        }
      }
      ::ng-deep .ui-inputgroup .ui-widget {
        color: #8D8E96;
        font-size: 14px;
        //height: 3vh;
        height: 32px;
        border: 1px solid #F0F0F0;
        //border-right: 0;
        border-left: 0;
        background: #F8F8F8;
      }
    }

    .pr-hygiene-button {
      button {
        margin-right: 1vw;
      }
      button:last-child {
        background: #FF8A9A;
        border: 1px solid #FF8A9A;
      }
    }

  }
  .pr-hygiene-table {
    ::ng-deep .ui-table .ui-table-thead>tr >th{
      border: 0;

    }
    ::ng-deep .ui-table .ui-table-tbody>tr >td{
      border-bottom: 1px solid #EDEDED;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
    ::ng-deep .ui-table-scrollable-body::-webkit-scrollbar {
      display: inline;
      //position: absolute;
    }
  }
  .pagination{
    position: absolute;
    bottom: 8vh;
    right: 4vw;
  }
  ::ng-deep  .ui-dialog .ui-dialog-titlebar{
    text-align: center;
    background: #F8F8F8;
    color: #6F6F6F;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #CACED5;
    .ui-dialog-titlebar-icon{
      color: #6F6F6F;
    }
  }
  ::ng-deep .ui-dialog .ui-dialog-content{
    border: 0;
    overflow: visible ;
  }
  ::ng-deep  .ui-dialog .ui-dialog-footer{
    text-align: center;
    border: 0;
    padding: 20px 0;
    button:first-child{
      //padding: 4px 6px;
      border-radius: 20px;
      background: #fff;
      color: #575C65;
      border: 1px solid #575C65;
    }
    button:last-child{
      //padding: 4px 6px;
      background: #3B86FF;
      border-radius: 20px;
    }
  }
  .dialog-input {
    line-height: 3vh;
    text-align: left;
    color: #4D4F5C;
    //::ng-deep .ui-inputtextarea{
    //  width: 100%;
    //
    //}
    ::ng-deep .ui-chkbox .ui-chkbox-box{
      //color: #A498A0;
      border: 1px solid #C8DDFF;
    }
    ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active{
      color: #007ad9;
      background: #fff;
    }
    //::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    //  background-color: #FFFFFF;
    //  color: #007ad9;
    //}
    input, ::ng-deep .ui-inputtext{
      width: 100%;
      border: 1px solid #D2D6DB;
    }
    /deep/ .ui-widget::placeholder{
      color: #A498A0;
    }
    ::ng-deep .ui-dropdown{
      width: 100%;
      border: 1px solid #EDEDED;
      line-height: 2.4vh;
      .ui-dropdown-trigger-icon{
        color: #AAAAAA;
      }
      .ui-dropdown-label{
        color: #A498A0;
      }
      .ui-inputtext{
        width: 100%;
        border: 0;
      }
    }
  }
  .center {
    display: flex;
    align-items: center;
  }
  .right {
    text-align: right;
    color: #4D4F5C;
  }
  .dialog-btn{
    width: 6vw;
    //text-align: center;
    border-radius: 5px;
    height: 4vh;
    outline: none;
    color: #fff;
    border: 0;
    margin-left: 2vw;
  }
  @media screen and (min-width: 40.063em) {
    ::ng-deep .ui-g-1{
      width: 14.333%;
    }
  }
}

