.demand-report{
  display: flex;
  justify-content: center;
  .label{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    font-size: 14px
  }
  .inputButton{
    .ui-button {
      margin: 0;
      color: #116FBF;
      background-color: unset;
    }
    /deep/ .ui-button-text{
      overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
    }
  }
  .orgButton{
    /deep/ .ui-button-text{
      padding: 0.429em;
    }
  }
  /deep/ .ui-table-caption{
    background-color: unset;
    border: unset;
    text-align: left;
    padding-left: 5px;
  }
  /deep/ .ui-table-summary{
    background-color: unset;
    border: unset;
  }
}
