<div class="st-taking-exam">
  <div class="taking-header">
    <div></div>
    <h3 class="text-center">正在考试</h3>
    <div class="exam-clock">
      <span>倒计时</span>
      <span>{{countdownClock}}</span>
    </div>
  </div>
  <div class="exam-body">
     <div class="exam-paper-header">
       <span>{{paperTitle}}</span>
     </div>
    <div class="exam-paper-question">
      <p-scrollPanel  [style]="{height: '70vh', width: '100%'}" styleClass="custombar">
        <div *ngIf="singleChoiceQuestions">
          <h3 class="m-2">单选题:</h3>
          <div class="paper-question-item" *ngFor="let item of  singleChoiceQuestions">
            <div class="question-title">
              <span style="flex: 13">{{item.subject}}?</span>
<!--              <span style="flex: 6">{{item.subject}}</span>-->
              <span style="flex: 1;">{{item?.score}}分</span>
            </div>
            <div class="question-select" *ngFor="let selItem of item?.safeTestQuestionOptionsList; let i=index">
              <p-radioButton name="groupname" [value]="i+1" [label]="selItem.option" [(ngModel)]="item.rightKey"></p-radioButton>
            </div>
          </div>
        </div>
        <div *ngIf="multipleChoiceQuestions">
          <h3 class="m-2">多选题:</h3>
          <div class="paper-question-item" *ngFor="let item of  multipleChoiceQuestions">
            <div class="question-title">
              <span style="flex: 13">{{item.subject}}?</span>
              <!--              <span style="flex: 6">{{item.subject}}</span>-->
              <span style="flex: 1;">{{item?.score}}分</span>
            </div>
            <div class="question-select" *ngFor="let selItem of item?.safeTestQuestionOptionsList; let i=index">
              <p-checkbox [name]="'groupname'+ i" [value]="i+1"   [label]="selItem.option"  [(ngModel)]="item.rightKey"></p-checkbox>
            </div>
          </div>
        </div>
        <div *ngIf="judgmentQuestions">
          <h3 class="m-2">判断题:</h3>
          <div class="paper-question-item" *ngFor="let item of  judgmentQuestions">
            <div class="question-title">
              <span style="flex: 13">{{item.subject}}?</span>
              <!--              <span style="flex: 6">{{item.subject}}</span>-->
              <span style="flex: 1;">{{item?.score}}分</span>
            </div>
            <div class="question-select" *ngFor="let selItem of item?.safeTestQuestionOptionsList; let i=index">
              <p-radioButton name="groupname" [value]="i+1" [label]="selItem.option" [(ngModel)]="item.rightKey"></p-radioButton>
            </div>
          </div>
        </div>
        <div *ngIf="completion">
          <h3 class="m-2">填空题:</h3>
          <div class="paper-question-item" *ngFor="let item of  completion">
            <div class="question-title">
              <span style="flex: 13">{{item.subject}}?</span>
              <!--              <span style="flex: 6">{{item.subject}}</span>-->
              <span style="flex: 1;">{{item?.score}}分</span>
            </div>
            <div class="question-select" *ngFor="let selItem of item?.rightKey.split('#'); let i=index">
              <input type="text" pInputText placeholder="请输入答案" style="width: 14vw;border: 1px solid #CACED5"/>
<!--              <p-radioButton name="groupname" [value]="i+1" [label]="selItem" ></p-radioButton>-->
            </div>
          </div>
        </div>
        <div class="m-3 text-center">
          <button pButton style="background: #3B86FF; color: #fff;border: 0;padding: 0 1vw" type="button" label="完成考试"  class="ui-button-rounded" (click)="submitPaperClik()"></button>
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>
