.home {
  margin: 0;
  padding: 0;
  .home-main{
    margin-top: 6vh;
    z-index: 0;
  }
}
@media screen and (max-width: 1200px){
  .home{
    .home-main{
      margin-left: 5vw !important;
    }
  }
}
