.home {
  margin: 0;
  padding: 0;
  height: auto;
  .header{
    height: 6vh;
    position: absolute;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .home-main{

  }
}
@media screen and (max-width: 1200px){
  .home{
    .home-main{
      margin-left: 5vw !important;
    }
  }
}
