.st-completed-exam{
  .st-completed-search{
    margin-top: 2vh;
    .ui-inputgroup {
      display: inline-block;
      //margin-left: 1vw;
      input{
        border-radius: 20px 0 0 20px;
        outline: none;
      }
      button{
        margin-top: 1px;
        border-radius: 0 20px 20px 0;
        border: 0;
      }
    }
    ::ng-deep .ui-inputgroup .ui-widget {
      color: #8D8E96;
      font-size: 14px;
      //height: 3vh;
      height: 32px;
      border: 1px solid #F0F0F0;
      //border-right: 0;
      border-left: 0;
      background: #F8F8F8;
    }
  }
  .completed-exam {
    margin-top: 2vh;
  }
  .completed-exam-pagination{
    position: absolute;
    bottom: 8vh;
    right: 4vw;
  }
  .center{
    display: flex;
    //justify-content: center;
    align-items: center;
  }
  .exam-paper-question {
    color: #797A84;
    margin-top: 1vh;
    margin-bottom: 2vh;
    padding: 0 6vw;
    width: 50vw;
    .paper-question-item {
      margin-top: 8px;
      border: 1px solid #DDE0E4;
      padding: 6px 12px;
      width: 100%;
      .question-title {
        display: flex;
        padding: 1vh;
        span:first-child {
          flex: 12;
        }

        span:last-child {
          flex: 2;
        }
      }

      .question-select {
        margin: 0.6vh 1vw;
        line-height: 4vh;

        input {
          width: 14vw;
          border: 1px solid #CACED5;
        }
      }

    }
  }
}
