.area-within{
  margin: 0 2vw;
  //margin-bottom: 4vh;
  //margin-right: 4vw;
  //background: #ee9900;
  height: 100%;
  .area-within-body{
    margin-top: 2vh;
    .right {
      text-align: right;
      color: #787A84;
      font-size: 13px;
    }
    .left {
      text-align: left;
      color: #4D4F5C;
    }
    .center {
      display: flex;
      align-items: center;
    }
    .dialog-input {
      line-height: 3vh;
      text-align: left;
      color: #4D4F5C;
      //::ng-deep .ui-inputtextarea{
      //  width: 100%;
      //
      //}
      ::ng-deep .ui-chkbox .ui-chkbox-box{
        //color: #A498A0;
        border: 1px solid #C8DDFF;
      }
      ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active{
        color: #007ad9;
        background: #fff;
      }
      //::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active {
      //  background-color: #FFFFFF;
      //  color: #007ad9;
      //}
      input, ::ng-deep .ui-inputtext{
        width: 100%;
        border: 1px solid #D2D6DB;
      }
      /deep/ .ui-widget::placeholder{
        color: #A498A0;
      }
      ::ng-deep .ui-dropdown{
        width: 100%;
        border: 1px solid #EDEDED;
        line-height: 2.4vh;
        .ui-dropdown-trigger-icon{
          color: #AAAAAA;
        }
        .ui-dropdown-label{
          color: #A498A0;
        }
        .ui-inputtext{
          width: 100%;
          border: 0;
        }
      }
    }

  }
  .area-within-fotter{
    //width: 100%;
    margin-top: 1vh;
    text-align: center;
    margin-bottom: 4vh;
    button{
      //width: 6vw;
      padding: 0 2vw;
      margin-left: 2vw;
      background: #3B86FF;
    }
  }


  ::ng-deep  .ui-dialog .ui-dialog-titlebar{
    text-align: center;
    background: #F8F8F8;
    font-size: 16px;
    border: 0;
    color: #6F6F6F;
    border-bottom: 1px solid #CACED5;
    i {
      color: #6F6F6F;
    }
  }
  ::ng-deep .ui-dialog .ui-dialog-content{
    border: 0;
  }
  ::ng-deep  .ui-dialog .ui-dialog-footer{
    text-align: center;
    border: 0;
    padding: 20px 0;
    button:first-child{
      //padding: 4px 6px;
      border-radius: 20px;
      background: #fff;
      color: #575C65;
      border: 1px solid #575C65;
    }
    button:last-child{
      //padding: 4px 6px;
      background: #3B86FF;
      border-radius: 20px;
    }
  }
  .dialog-btn{
    width: 6vw;
    //text-align: center;
    border-radius: 5px;
    height: 4vh;
    outline: none;
    color: #fff;
    border: 0;
    margin-left: 2vw;
  }
  ::ng-deep .ui-dialog-content{
    overflow: visible ;
  }
}
